
$clr-red: hsl(0, 78%, 62%);
$clr-cyan: hsl(180, 62%, 55%);
$clr-orange: hsl(34, 97%, 64%);
$clr-blue: hsl(212, 86%, 64%);
    
$clr-dark-blue: hsl(234, 12%, 34%);
$clr-grayish-blue: hsl(229, 6%, 66%);
$clr-very-light-gray: hsl(0, 0%, 98%);

$fw-xtra-light: 200;
$fw-normal: 400;
$fw-semi-bold: 600;

$ff: 'Poppins', sans-serif;
